In [15]:
# generate random integer values
from random import seed
from random import randint
# seed random number generator
seed(1)
# generate some integers
for _ in range(10):
    value = randint(0, 10)
    print(value)

2
9
1
4
1
7
7
7
10
6

In [16]:
# generate random integer values
from random import seed
from random import randint
# seed random number generator
seed(1)
temp_lst = list()
# generate some integers
for i in range(300000):
    value = randint(0, 36)
    temp_lst.append(value)
    print(i,value)
    
new_lst = list()
for index in range(len(temp_lst)):
    if index == len(temp_lst)-1:
        break
    else:
        temp_var_01 = temp_lst[index]
        temp_var_02= temp_lst[index+1]
        tup = list([temp_var_01,temp_var_02])
        new_lst.append(tup)
    
print(new_lst)

Output hidden; open in https://colab.research.google.com to view.

In [0]:
import pandas as pd
# =     
import numpy as np

In [0]:
df = pd.DataFrame()
for ind in range(len(new_lst)):
    df.loc[ind,'X'] = new_lst[ind][0]
    df.loc[ind,'y'] = new_lst[ind][1]

In [0]:
cols = ['X', 'y']
df[cols] = df[cols].applymap(np.int64)

In [20]:
df.head()

    X   y
0   8  36
1  36   4
2   4  16
3  16   7
4   7  31

In [21]:
len(df)

299999

In [0]:
df.to_pickle("./bigdata.pkl")

In [23]:
unpickled_df = pd.read_pickle("./bigdata.pkl")
unpickled_df

         X   y
0        8  36
1       36   4
2        4  16
3       16   7
4        7  31
...     ..  ..
299994   5   8
299995   8   5
299996   5  15
299997  15  13
299998  13   7

[299999 rows x 2 columns]

In [0]:
Y = pd.get_dummies(df['y']).values

In [40]:
len(df)

299999

In [0]:
from sklearn.model_selection import train_test_split
X=df[['X']].values
y= df['y'].values
#scaled_features
#target
#X_train, X_test, y_train, y_test = train_test_split(scaled_features,target, test_size=0.25, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

In [48]:
print(X_test[0])
print(len(X_train))
print(y_test[0])
print(len(y_test))

[16]
224999
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
75000

In [0]:

import tensorflow as tf
from sklearn.feature_extraction.text import CountVectorizer
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
import re

In [0]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, Masking, Embedding

In [45]:
embed_dim = 128
lstm_out = 196
max_fatures=37
model_lstm = Sequential()
model_lstm.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model_lstm.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model_lstm.add(Dense(37,activation='softmax'))
model_lstm.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model_lstm.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 1, 128)            4736
_________________________________________________________________
lstm_1 (LSTM)                (None, 196)               254800
_________________________________________________________________
dense_1 (Dense)              (None, 37)                7289
=================================================================
Total params: 266,825
Trainable params: 266,825
Non-trainable params: 0
_________________________________________________________________
None

In [46]:
print(len(y_train))

224999